{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>One potato, two potato &hellip;</title>

    <!-- Use some Google resources, not all are used here but will cache
         for upcoming pages -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'spuds/style.css' %}" />

  </head>
  <body>

    <div id="main-content">
        <h1>How many potatos?</h1>

        <ul id="choosenum">
            <li><a href="{% url 'spuds:show' 1 %}">One potato?</a></li>
            <li><a href="{% url 'spuds:show' 2 %}">Two potato?</a></li>
            <li><a href="{% url 'spuds:show' 3 %}">Three potato?</a></li>
            <li><a href="{% url 'spuds:show' 4 %}">Four?</a></li>
        </ul>
    </div>
  
  </body>
</html>




