{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>One potato, two potato &hellip;</title>

    <!-- Use some Google resources -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'spuds/style.css' %}" />
    <script src="{% static 'spuds/js/place-potatos.js' %}"></script>


  </head>
  <body>

    <div id="arrow-container"><img src="{% static 'spuds/img/arrow-up.png' %}" /></div>
    <div id="prompt-container">
      <span class="lead-text">Django running on Windows Azure</span><br />
      <a href="https://bitbucket.org/brendanarnold/www-onepotatotwopotato">the code</a> by <a href="mailto:brendanarnold@gmail.com">brendanarnold@gmail.com</a><br />
    </div>

    <div id="spud-container">
    {% for fn in img_fns %}
      <div class="img-container">
        <img src="{% static 'spuds/img/' %}{{ fn }}" alt="A potato character" />
      </div>
    {% endfor %}
    </div>

  </body>
</html>


