
div#main-content {
  margin: 100px auto;
}

/* Only one h1 in project (root page) so go ahead and style away ... */
h1 {
  margin: 20px auto;
  width: 350px;
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  padding: 10px 30px;
  border: 8px solid black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* List of number choices on root page */
ul#choosenum {
  width: 150px;
  margin: 0px auto;
  list-style-image: url("img/potato-bullet.png");
  list-style-type: none;
}

ul#choosenum li {
  font-family: 'roboto slab', serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}

ul#choosenum li a {
  text-decoration: none;
  vertical-align: top;
}

/* The sticky text box on the 'show' page */

#prompt-container {
  position: fixed;
  z-index: 10;
  top: 135px;
  left: 50px;
  text-align: right;
  font-family: 'roboto slab', serif;
  font-weight: 400;
  font-size: 20px;
  background: white;
  display: inline-block;
  padding: 10px 30px;
  border: 8px solid black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#prompt-container .lead-text {
  font-size: 32px;
}

#prompt-container a {
  text-decoration: none;
}

/* The arrow above the sticky text box on the 'show' page */

#arrow-container {
  position: fixed;
  z-index: 9;
  left: 150px;
  top: 5px;
}

.img-container {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}

